.serious {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.red {
  color: red;
}

.aboutme{
  font-size: 20px;
  text-align: center;
}

.fan {
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome {
  word-spacing: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
